.myheader{
    background-color: rgb(225, 239, 248);
}

.myheader2{
  background-color: rgb(225, 239, 248);
}

.myheader3{
  background-color: white;
}

.myheader5{
  background-color: rgb(225, 239, 248);
}

.bb{
    background-color: cornflowerblue;
    border-radius: 10%;
}


.text-darkblue{
  color:darkcyan;
}


.cotea{
    border: 2px solid black;
    box-shadow: 2px 5px #888888;
    border-radius: 10px;

  }
  
  .coteb{
    border: 2px solid black;
    box-shadow: 2px 5px #888888;
    border-radius: 10px;

  }
  
  .cotec{
    border: 2px solid black;
    box-shadow: 2px 5px #888888;
    border-radius: 10px;

  }
  
  .coted{
    border: 2px solid black;
    box-shadow: 2px 5px #888888;
    border-radius: 10px;

  }
  
  .coteE{
    border: 2px solid black;
    box-shadow: 2px 5px #888888;
    border-radius: 10px;

  }
  
  .cotef{
    border: 2px solid black;
    box-shadow: 2px 5px #888888;
    border-radius: 10px;

  }
  